@import url('https://fonts.googleapis.com/css2?family=Charmonman:wght@700&display=swap');
.btn {
  margin-top: 10px;
  font-family: cursive;
}
.txt {
  font-family: cursive;
}
body {
  background: url(../assets/background4.png);
  color: #4C004C;
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: cover;
}
label,
input {
  margin-top: 5px;
}
label {
  margin-right: 10px;
}
.heading {
  margin-top: 20px;
  font-family: 'Charmonman', cursive;
}
select {
  margin: 5px;
}
input {
 
}