.btn {
  margin-top: 10px;
  font-family: cursive;
}
.txt {
  font-family: cursive;
}
body {
  background: url(../assets/background.png);
  color: #4c004c;
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: cover;
}
